.sidebar{
  height:100%;
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
   margin-bottom: 20px;


}
.profile{
  margin-top: 20px;

 
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: rgb(151, 184, 212);
}