.sidebutton{
 height: 50px;
    width: 62px;
    display: flex;
    flex-direction: column;
    margin: 0.4em;
    place-items: center;
    color: whitesmoke;
    padding: 0.2em;
}
.link{
  text-decoration: none;
}