.controls-container{
  width: 50%;
  margin: 0px;
  align-items: center;
  justify-content: center;
}
.active-n{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.active-n:hover{
  transform: scale(1.1);
}
.play-pause-btn{
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background-color: #0fb818;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: -1px -2px 20px #753d30 , inset 1px 2px 20px  #ff8769
}
.play-pause-btn.active-n{
  box-shadow: -1px -2px 20px #ff8769 , inset 1px 2px 20px  #753d30

}
.play-pause-btn:hover{
  transform: scale(1.1);
}

.i{
  height: 30px;
  width: 30px;
}
.p{
  height: 30px;
  width: 30px;

}


