.play-list{
  width:100%;
  height: 100%;
  display: flex;
  padding: 5%;
  flex-wrap: wrap;
  overflow-y:hidden ;
  justify-content: space-between;
  position: relative;
  


}
.play-card{
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  
  width: 15%;
  height: 35%;
  border-radius: 20px;
  background-color: #e5e5f7;
  border:1px solid rgba(160, 146, 146, 0.774);
  padding: 1%;
  margin-bottom: 20px;
  border: 1px solid black;
 
  position: relative;
  min-width: 100px;
  min-height: 100px;
  transition: all 0.2s ease;
}
.play-card:hover{
  margin:1rem ;
  transform: scale(1.02);
  .icon{
    transform: rotate(360deg);
     transform: translateX(40px);
    opacity: 1;
  }
 
}
.music-img{
  background: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWJ1azIyaWVubWlsYnkzaTBleXJyejZ0MXp3dWg1OW54dzgxYWhhbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/uarU6Dk7j6pZTwxg3a/giphy.gif");

  background-size: cover;
  width: 70%;
  height: 70%;
  border-radius: 30px;
  border: 2px solid black;

  transition: all 0.3s ease-out;
  min-width: 20%;
  min-height: 70%;
  

}
.music-img:hover{
  transform: scale(1.1);
}
.music-title{
  font-size: 1rem;
  margin: 0.2rem;
  position:relative;
  color: black;
  text-shadow: 3px 2px 10px black;
  font-family: cursive;
  font-weight: 600;

}
.icon-div{
  margin: 0;
 
  
}
.icon{
  background-color: rgb(1, 66, 45);
  font-size: 2rem;
  color: #e5e5f7;
   transition: all 0.5s ease;
    opacity: 0;
    border-radius: 30px;
}
.icon:hover{
  background-color: rgb(97, 87, 87);
  font-size: 50px;
  color: rgba(235, 230, 227, 0.788);
  cursor: pointer;
  border-radius: 30px;
  border: none;
}
.contain{
  background: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3ZWt4aHpqbHJ4eTJ5Y3JtOG9mY3lvOXhjejhia2N0dnBiNWM1N3BzbSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/2TMTdSeeRzjwFRd2TT/giphy.gif");
  background-size: cover;
  background-position: 50%;
  display: grid;
  place-items: center;
  height: 100vh;

}
.upload-files{
   background-color: #d42fb14d;
   width: 20rem;
   height: 20rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-size: 3rem;
   text-transform: capitalize;
   font-weight: 700;
   color: black;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-shadow: 5px 5px 6px black;
   border-radius: 20px;
   text-align: center;
}
P{
  color: #92a4b6;
  font-size: 1.5rem;
  
}
.reminder{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
   text-shadow: 5px 5px 6px black;
   font-weight: 600;
}